@import "./_generic-styles.css";

.transaction-list {
    height: 75vh;
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.transaction-list-header {
    height: 20vh;
    width: 100%;
}

.transaction-list-main-section {
    height: 100%;
    width: 100%;
}

.transaction-list-title {
    text-align: center;
    margin: 0px;
}
