@import "./_generic-styles.css";


.transaction-list {
    height: 75vh;
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
}

.transaction-list-header {
    height: 20vh;
    width: 100%;
}

.transaction-list-main-section {
    height: 100%;
    width: 100%;
}

.transaction-list-title {
    text-align: center;
    margin: 0px;
}

/* ------------------------------------------- */

.transaction-container {
    border: solid 1px #0000ff;
    padding: 5px 15px;
    border-radius: 8px;
    margin: 15px;
}

.transaction-description {
    margin: 5px 0px 10px 0px;
    text-align: center;
    width: fit-content;
}

.transaction-details span {
    margin: 0px 10px;
}
.transaction-details li {
    text-align: left;
}